section.banner
    .wrapper
        .banner-slider
            .page__img
                img(src="assets/img/img-information-item-1.png")
            .page__img
                img(src="assets/img/img-information-item-2.png")
            .page__img
                img(src="assets/img/img-information-item-3.png")
            .page__img
                img(src="assets/img/img-information-item-4.png")
    .nextArrow#nextArrow
        img(src="assets/img/arrow-news.svg")
    .prevArrow#prevArrow
        img(src="assets/img/arrow-news.svg")
section.grids
    .wrapper
        .grid-wrapper
            .grid-item
            .grid-item-2
            .grid-item
            .grid-item
            .grid-item
            .grid-item
            .grid-item
            .grid-item
            .grid-item
            