extends templates/template

block title
	title Заголовок страницы
block append style
block content
	include modules/header-module
	section.banner
		.wrapper
			h1.page__title-h1 Заголовок
			p.page__text Текст абзаца
block append script